USE [master]
GO
/****** Object:  Database [QUANLYRAPCHIEUPHIM]    Script Date: 2/15/2023 8:14:21 PM ******/
CREATE DATABASE [QUANLYRAPCHIEUPHIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYRAPCHIEUPHIM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYRAPCHIEUPHIM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYRAPCHIEUPHIM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYRAPCHIEUPHIM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYRAPCHIEUPHIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYRAPCHIEUPHIM]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](max) NOT NULL,
	[AnhPhim] [nvarchar](max) NOT NULL,
	[ThoiLuong] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TinhTrang] [bit] NOT NULL,
	[IdLoaiPhim] [nvarchar](50) NOT NULL,
	[DienVien] [nvarchar](max) NOT NULL,
	[DaoDien] [nvarchar](max) NOT NULL,
	[NgayCongChieu] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[NamPhatHanh] [varchar](50) NULL,
	[ChatLuong] [varchar](50) NULL,
 CONSTRAINT [PK__Phim__3214EC077691A655] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhim]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__LoaiPhim__3214EC072DF95AD5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiGhe] [nvarchar](max) NOT NULL,
	[GiaGhe] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](max) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[SoluongHang] [int] NOT NULL,
	[Soluongghemoihang] [int] NOT NULL,
	[TrinhTrang] [bit] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[ghe_id] [int] IDENTITY(1,1) NOT NULL,
	[Loai_id] [int] NULL,
	[TringTrang] [bit] NOT NULL,
	[Id_phong] [int] NULL,
	[TenGhe] [varchar](50) NULL,
	[HangGhe] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ghe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichChieu]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichChieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayChieu] [datetime] NOT NULL,
	[Thu] [nvarchar](20) NOT NULL,
	[Phuthulc] [money] NULL,
	[IdPhim] [int] NULL,
	[IdCC] [int] NULL,
	[IdSC] [int] NULL,
	[GioBD] [time](7) NULL,
	[GioKT] [time](7) NULL,
	[IdPhong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suatchieu]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suatchieu](
	[IdSC] [int] IDENTITY(1,1) NOT NULL,
	[TenSuat] [nvarchar](20) NULL,
	[phuthusc] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[IdPhim] [int] NULL,
	[IdGhe] [int] NULL,
	[NgayDat] [date] NULL,
	[GiaVe] [decimal](18, 2) NULL,
	[Soluong] [int] NULL,
	[TinhTrang] [int] NULL,
	[IdLC] [int] NULL,
	[IdKM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaChieu]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaChieu](
	[IdCC] [int] IDENTITY(1,1) NOT NULL,
	[TenCC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CaChieu__B77390801709C113] PRIMARY KEY CLUSTERED 
(
	[IdCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[tkdttp1]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[tkdttp1] as select TenPhim,Sum(GiaVe+phuthusc+phuthulc)[Tong] from Ve inner join LichChieu on LichChieu.Id=Ve.IdLC inner join Suatchieu on Suatchieu.IdSC=LichChieu.IdSC inner join CaChieu on CaChieu.IdCC=LichChieu.IdCC
inner join Phim on Phim.Id=Ve.IdPhim inner join LoaiPhim on LoaiPhim.Id=Phim.IdLoaiPhim inner join Ghe on Ghe.ghe_id=Ve.IdGhe inner join LoaiGhe on LoaiGhe.Id=Ghe.Loai_id
inner join Phong on Phong.Id=LichChieu.IdPhong  group by 
TenPhim
GO
/****** Object:  View [dbo].[tkdt]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[tkdt] as select TenPhong,Sum(GiaVe+phuthusc+phuthulc)[Tong],NgayDat from Ve inner join LichChieu on LichChieu.Id=Ve.IdLC inner join Suatchieu on Suatchieu.IdSC=LichChieu.IdSC inner join CaChieu on CaChieu.IdCC=LichChieu.IdCC
inner join Phim on Phim.Id=Ve.IdPhim inner join LoaiPhim on LoaiPhim.Id=Phim.IdLoaiPhim inner join Ghe on Ghe.ghe_id=Ve.IdGhe inner join LoaiGhe on LoaiGhe.Id=Ghe.Loai_id
inner join Phong on Phong.Id=LichChieu.IdPhong group by 
TenPhong,NgayDat
GO
/****** Object:  View [dbo].[tkdttp]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[tkdttp] as select TenPhim,Sum(GiaVe+phuthusc+phuthulc)[Tong],NgayDat from Ve inner join LichChieu on LichChieu.Id=Ve.IdLC inner join Suatchieu on Suatchieu.IdSC=LichChieu.IdSC inner join CaChieu on CaChieu.IdCC=LichChieu.IdCC
inner join Phim on Phim.Id=Ve.IdPhim inner join LoaiPhim on LoaiPhim.Id=Phim.IdLoaiPhim inner join Ghe on Ghe.ghe_id=Ve.IdGhe inner join LoaiGhe on LoaiGhe.Id=Ghe.Loai_id
inner join Phong on Phong.Id=LichChieu.IdPhong  group by 
TenPhim,NgayDat
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](60) NULL,
	[NgayDangKy] [date] NULL,
	[TinhTrang] [bit] NULL,
	[PhanQuyen] [varchar](50) NULL,
	[id_ThongTin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Ve_LC_Phim_TK]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[Ve_LC_Phim_TK] as select Ve.Id,Ve.NgayDat,TaiKhoan.Id [Id_tk],TenPhong,TenPhim,TenGhe,TenLoai,GiaVe,phuthusc,LichChieu.Phuthulc,NgayChieu,GioBD,GioKT,TenLoaiGhe,TenSuat,Thu,TaiKhoan.Id [IDTK] from Ve inner join LichChieu on LichChieu.Id=Ve.IdLC inner join Suatchieu on Suatchieu.IdSC=LichChieu.IdSC inner join CaChieu on CaChieu.IdCC=LichChieu.IdCC
inner join Phim on Phim.Id=Ve.IdPhim inner join LoaiPhim on LoaiPhim.Id=Phim.IdLoaiPhim inner join Ghe on Ghe.ghe_id=Ve.IdGhe inner join LoaiGhe on LoaiGhe.Id=Ghe.Loai_id
inner join Phong on Phong.Id=LichChieu.IdPhong inner join TaiKhoan on TaiKhoan.Id=Ve.IdTaiKhoan
GO
/****** Object:  View [dbo].[ghe_phong]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ghe_phong] as select * from Phong where SoLuong != (select count(ghe_id) from Ghe where Id_phong = Phong.Id)
GO
/****** Object:  View [dbo].[Ve_LC_Phim]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[Ve_LC_Phim] as select Ve.Id,TenPhong,TenPhim,TenGhe,TenLoai,GiaVe,phuthusc,LichChieu.Phuthulc,NgayChieu,GioBD,GioKT,TenLoaiGhe,TenSuat,Thu from Ve inner join LichChieu on LichChieu.Id=Ve.IdLC inner join Suatchieu on Suatchieu.IdSC=LichChieu.IdSC inner join CaChieu on CaChieu.IdCC=LichChieu.IdCC
inner join Phim on Phim.Id=Ve.IdPhim inner join LoaiPhim on LoaiPhim.Id=Phim.IdLoaiPhim inner join Ghe on Ghe.ghe_id=Ve.IdGhe inner join LoaiGhe on LoaiGhe.Id=Ghe.Loai_id
inner join Phong on Phong.Id=LichChieu.IdPhong 
GO
/****** Object:  Table [dbo].[ThongTin]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTin](
	[ThongTin_id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](max) NULL,
	[DiaChi] [varchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongTin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPhim] [int] NULL,
	[IdTK] [int] NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayDang] [date] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[DanhGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[BinhLuan_Phim]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[BinhLuan_Phim] as
select TenNguoiDung,NoiDung,NgayDang,DanhGia,BinhLuan.Id[BLId],Phim.Id[IdPhim] from BinhLuan inner join TaiKhoan on TaiKhoan.Id=BinhLuan.IdTK inner join ThongTin on ThongTin.ThongTin_id=TaiKhoan.id_ThongTin inner join Phim on Phim.Id=BinhLuan.IdPhim
GO
/****** Object:  Table [dbo].[DatVe]    Script Date: 2/15/2023 8:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVe](
	[IDDatVe] [int] IDENTITY(1,1) NOT NULL,
	[IDTK] [int] NOT NULL,
	[IDve] [nvarchar](250) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TongTien] [money] NULL,
	[SDT] [nchar](10) NULL,
	[Email] [nvarchar](200) NULL,
	[HoTen] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDatVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([Id], [IdPhim], [IdTK], [NoiDung], [NgayDang], [TinhTrang], [DanhGia]) VALUES (1, 1, 2, N'phim hay', CAST(N'2023-10-10' AS Date), 1, 1)
INSERT [dbo].[BinhLuan] ([Id], [IdPhim], [IdTK], [NoiDung], [NgayDang], [TinhTrang], [DanhGia]) VALUES (5, 2, 2, N'phim hay tuyệt', CAST(N'2023-01-12' AS Date), 1, 1)
INSERT [dbo].[BinhLuan] ([Id], [IdPhim], [IdTK], [NoiDung], [NgayDang], [TinhTrang], [DanhGia]) VALUES (6, 3, 2, N'phim hay', CAST(N'2023-01-12' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[CaChieu] ON 

INSERT [dbo].[CaChieu] ([IdCC], [TenCC]) VALUES (1, N'Ca Chiếu Sáng')
INSERT [dbo].[CaChieu] ([IdCC], [TenCC]) VALUES (2, N'Ca Chiếu Chiều')
INSERT [dbo].[CaChieu] ([IdCC], [TenCC]) VALUES (3, N'Ca Chiếu Tối')
SET IDENTITY_INSERT [dbo].[CaChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DatVe] ON 

INSERT [dbo].[DatVe] ([IDDatVe], [IDTK], [IDve], [NgayDat], [TongTien], [SDT], [Email], [HoTen]) VALUES (1, 2, N'11,12,13', CAST(N'2023-01-12T14:20:48.970' AS DateTime), 305000.0000, NULL, NULL, NULL)
INSERT [dbo].[DatVe] ([IDDatVe], [IDTK], [IDve], [NgayDat], [TongTien], [SDT], [Email], [HoTen]) VALUES (2, 2, N'14,15', CAST(N'2023-01-12T14:23:25.373' AS DateTime), 220000.0000, NULL, NULL, NULL)
INSERT [dbo].[DatVe] ([IDDatVe], [IDTK], [IDve], [NgayDat], [TongTien], [SDT], [Email], [HoTen]) VALUES (3, 2, N'16,17,18', CAST(N'2023-01-12T15:48:19.773' AS DateTime), 355000.0000, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DatVe] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([ghe_id], [Loai_id], [TringTrang], [Id_phong], [TenGhe], [HangGhe]) VALUES (1, 1, 0, 1, N'A1', N'1')
INSERT [dbo].[Ghe] ([ghe_id], [Loai_id], [TringTrang], [Id_phong], [TenGhe], [HangGhe]) VALUES (2, 1, 0, 1, N'A2', N'1')
INSERT [dbo].[Ghe] ([ghe_id], [Loai_id], [TringTrang], [Id_phong], [TenGhe], [HangGhe]) VALUES (3, 1, 0, 1, N'A3', N'1')
GO
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[LichChieu] ON 

INSERT [dbo].[LichChieu] ([Id], [NgayChieu], [Thu], [Phuthulc], [IdPhim], [IdCC], [IdSC], [GioBD], [GioKT], [IdPhong]) VALUES (2, CAST(N'2023-05-06T00:00:00.000' AS DateTime), N'Thứ 3', 0.0000, 12, 1, 2, CAST(N'16:19:00' AS Time), CAST(N'18:20:00' AS Time), 2)
INSERT [dbo].[LichChieu] ([Id], [NgayChieu], [Thu], [Phuthulc], [IdPhim], [IdCC], [IdSC], [GioBD], [GioKT], [IdPhong]) VALUES (9, CAST(N'2023-02-17T00:00:00.000' AS DateTime), N'Thứ 6', 0.0000, 1, 1, 1, CAST(N'13:14:00' AS Time), CAST(N'15:15:00' AS Time), 2)
SET IDENTITY_INSERT [dbo].[LichChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGhe] ON 

INSERT [dbo].[LoaiGhe] ([Id], [TenLoaiGhe], [GiaGhe]) VALUES (1, N'Vip', 150000)
INSERT [dbo].[LoaiGhe] ([Id], [TenLoaiGhe], [GiaGhe]) VALUES (2, N'Thường', 100000)
SET IDENTITY_INSERT [dbo].[LoaiGhe] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhim] ON 

INSERT [dbo].[LoaiPhim] ([Id], [TenLoai]) VALUES (0, N'Tâm lý')
INSERT [dbo].[LoaiPhim] ([Id], [TenLoai]) VALUES (1, N'Hành Động')
INSERT [dbo].[LoaiPhim] ([Id], [TenLoai]) VALUES (2, N'Siêu Anh Hùng')
SET IDENTITY_INSERT [dbo].[LoaiPhim] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([Id], [TenPhong], [SoLuong], [SoluongHang], [Soluongghemoihang], [TrinhTrang], [MoTa]) VALUES (1, N'Phòng 1', 30, 5, 6, 1, N'phòng chiếu phim số 1')
INSERT [dbo].[Phong] ([Id], [TenPhong], [SoLuong], [SoluongHang], [Soluongghemoihang], [TrinhTrang], [MoTa]) VALUES (2, N'Phòng 2', 30, 5, 6, 1, N'Phòng chiếu phim số 2')
INSERT [dbo].[Phong] ([Id], [TenPhong], [SoLuong], [SoluongHang], [Soluongghemoihang], [TrinhTrang], [MoTa]) VALUES (3, N'phòng 3', 30, 5, 6, 1, N'phòng chiếu phim số 3')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[Suatchieu] ON 

INSERT [dbo].[Suatchieu] ([IdSC], [TenSuat], [phuthusc]) VALUES (1, N'Suất Chiếu Sớm', 50000.0000)
INSERT [dbo].[Suatchieu] ([IdSC], [TenSuat], [phuthusc]) VALUES (2, N'Suất Chiếu Thường', 0.0000)
SET IDENTITY_INSERT [dbo].[Suatchieu] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [NgayDangKy], [TinhTrang], [PhanQuyen], [id_ThongTin]) VALUES (1, N'admin@gmail.com', N'12345678', CAST(N'2020-09-12' AS Date), 1, N'1', 1)
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [NgayDangKy], [TinhTrang], [PhanQuyen], [id_ThongTin]) VALUES (2, N'1234@gmail.com', N'1234', CAST(N'2021-12-04' AS Date), 1, N'5', 2)
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [NgayDangKy], [TinhTrang], [PhanQuyen], [id_ThongTin]) VALUES (3, N'thungan@gmail.com', N'1234', CAST(N'2022-09-09' AS Date), 1, N'2', 3)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongTin] ON 

INSERT [dbo].[ThongTin] ([ThongTin_id], [TenNguoiDung], [DiaChi], [GioiTinh], [NgaySinh], [Email]) VALUES (1, N'Nguyyễn Văn A', N'HCM', N'Nam', CAST(N'2020-12-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ThongTin] ([ThongTin_id], [TenNguoiDung], [DiaChi], [GioiTinh], [NgaySinh], [Email]) VALUES (2, N'Nguyễn Văn c', N'HN', N'nữ', CAST(N'2020-12-11T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ThongTin] ([ThongTin_id], [TenNguoiDung], [DiaChi], [GioiTinh], [NgaySinh], [Email]) VALUES (3, N'Nguyyễn Văn A', N'HCM', N'Nam', CAST(N'2020-12-20T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ThongTin] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([Id], [IdTaiKhoan], [IdPhim], [IdGhe], [NgayDat], [GiaVe], [Soluong], [TinhTrang], [IdLC], [IdKM]) VALUES (1, 2, 1, 49, CAST(N'2022-02-14' AS Date), CAST(100000.00 AS Decimal(18, 2)), NULL, 2, 9, NULL)
INSERT [dbo].[Ve] ([Id], [IdTaiKhoan], [IdPhim], [IdGhe], [NgayDat], [GiaVe], [Soluong], [TinhTrang], [IdLC], [IdKM]) VALUES (2, 2, 1, 50, CAST(N'2022-02-18' AS Date), CAST(100000.00 AS Decimal(18, 2)), NULL, 2, 9, NULL)
INSERT [dbo].[Ve] ([Id], [IdTaiKhoan], [IdPhim], [IdGhe], [NgayDat], [GiaVe], [Soluong], [TinhTrang], [IdLC], [IdKM]) VALUES (3, 2, 1, 51, CAST(N'2023-02-14' AS Date), CAST(100000.00 AS Decimal(18, 2)), NULL, 2, 9, NULL)
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO


ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_PBL] FOREIGN KEY([IdPhim])
REFERENCES [dbo].[Phim] ([Id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_PBL]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_TKBL] FOREIGN KEY([IdTK])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_TKBL]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DV_TK] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DV_TK]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_LoaiGhe] FOREIGN KEY([Loai_id])
REFERENCES [dbo].[LoaiGhe] ([Id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_LoaiGhe]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Phong] FOREIGN KEY([Id_phong])
REFERENCES [dbo].[Phong] ([Id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Phong]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LC_CC] FOREIGN KEY([IdCC])
REFERENCES [dbo].[CaChieu] ([IdCC])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LC_CC]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_P_V] FOREIGN KEY([IdPhong])
REFERENCES [dbo].[Phong] ([Id])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_P_V]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_Phim_LC] FOREIGN KEY([IdPhim])
REFERENCES [dbo].[Phim] ([Id])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_Phim_LC]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_SC_LC] FOREIGN KEY([IdSC])
REFERENCES [dbo].[Suatchieu] ([IdSC])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_SC_LC]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_tt] FOREIGN KEY([id_ThongTin])
REFERENCES [dbo].[ThongTin] ([ThongTin_id])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_tt]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_LC_V] FOREIGN KEY([IdLC])
REFERENCES [dbo].[LichChieu] ([Id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_LC_V]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_V_Gk] FOREIGN KEY([IdGhe])
REFERENCES [dbo].[Ghe] ([ghe_id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_V_Gk]
GO

ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_V_P] FOREIGN KEY([IdPhim])
REFERENCES [dbo].[Phim] ([Id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_V_P]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_V_TK] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_V_TK]
GO
USE [master]
GO

select * from TaiKhoan
select * from Ve
select * from DatVe